<div class="sidebar-transition" [class.sidebar-short]="!hamburgerClicked" [class.sidebar-large]="hamburgerClicked">
  <div class="container-fluid">
    <div class="row">
      <div class="hamburger-menu" (click)="onHamburgerClick()"><i class="fas fa-bars"></i></div>
    </div>
    <div class="row">
      <div class="oval"><p>+</p></div>
    </div>
    <div class="row">
      <div class="oval oval2" (click)="onViewOrganizationProfile()"><p>{{userOrganizationNameInitial}}</p></div>
    </div>
    <div class="row">
      <div class="line"></div>
    </div>
    <div class="row">
      <div class="progress"><img src="" class="icon"></div>
    </div>
    <div class="row">
      <div *ngIf="hamburgerClicked" class="label">Menores</div>
    </div>
  </div>
</div>
