<div class="row">
  <div class="title">Registro de un menor</div>
</div>

<div class="row form-row">
  <form (ngSubmit)="onSubmit(childForm)" class="form" #childForm="ngForm">
    <div>
      <div class="form-group">
        <p class="input-label">Nombre completo</p>
        <input class="form-control" type="text" placeholder="Nombre completo" ngModel name="name" required/>
      </div>

      <div class="form-group">
        <p class="input-label">Cedula</p>
        <input class="form-control" type="text" placeholder="Cedula" ngModel name="username" required/>
      </div>

      <div class="form-group">
        <p class="input-label">Edad</p>
        <input class="form-control" type="number" placeholder="Edad" ngModel name="age" required/>
      </div>

      <div class="form-group">
        <p class="input-label">Gender</p>
        <div class="select-arrow">
          <select [ngModel]="'Masculino'" name="gender" required>
            <option value="Masculino" selected>Male</option>
            <option value="Femenino">Female</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <p class="input-label">Enfermedades</p>
        <textarea class="issue-input" name="diseases" id="diseases" ngModel required></textarea>
      </div>

      <div class="form-group">
        <p class="input-label">Etnia</p>
        <div class="select-arrow">
          <select [ngModel]="'Afro costarricense'" name="ethnicity" required>
            <option value="Afro costarricense" selected>Afro costarricense</option>
            <option value="Asiatico">Asiatico</option>
            <option value="Blanco">Blanco</option>
            <option value="Mestizo">Mestizo</option>
            <option value="Indigena">Indigena</option>
          </select>
        </div>
      </div>

      <h3>Tratamientos</h3>

      <div *ngFor="" class="treatments">

        <h5>Medicinas</h5>
        <div *ngFor="" class="medicines">
          <div class="form-group">
            <p class="input-label">Nombre</p>
            <input class="form-control" type="text" placeholder="Nombre" ngModel name="medicineName" required/>
          </div>

          <div class="form-group">
            <p class="input-label">Cedula</p>
            <input class="form-control" type="text" placeholder="Cedula" ngModel name="username" required/>
          </div>

          <div class="form-group">
            <p class="input-label">Edad</p>
            <input class="form-control" type="number" placeholder="Edad" ngModel name="age" required/>
          </div>
        </div>

      </div>

    </div>

    <button class="btn btn-primary submit-button" type="submit" [disabled]="!childForm.valid">Registrar</button>
  </form>
</div>
