.container-fluid {
  width: 82.22%;
  min-width: 285px;
  min-height: 90vh;
  margin: 60px auto auto auto;
  font-family: "Source Sans Pro", serif;
}

.title {
  color: #294261;
  font-size: 36px;
  letter-spacing: 3.6px;
  line-height: 45px;
  margin: auto;
  display: block;
}

.form-row {
  min-height: 85vh;
  display: block;
  margin: auto;
}
.form {
  width: 70%;
  padding-top: 40px;
  padding-bottom: 130px;
  min-height: 808px;
  display: block;
  margin: auto;
}

.form-group {
  display: block;
}

.input-label {
  color: #495057;
  font-size: 20px;
  letter-spacing: -0.35px;
  line-height: 25px;
  margin-top: 0.88%;
}

input, textarea, select, option {
  height: 58px;
  width: 100%;
  border: 1px solid #BECAD6;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding-left: 1.94%;
  font-size: 20px;
}

select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.select-arrow {
  position: relative;
}

.select-arrow:after {
  font-family: FontAwesome;
  content: '\f0d7';
  font-size: 28px;
  position: absolute;
  top: 11px;
  right: 40px;
  color: #294261;
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}

select, option {
  color: #B9BBBE;
  font-size: 20px;
  letter-spacing: -0.35px;
  line-height: 25px;
  padding-left: 1.70%;
}

::placeholder {
  color: #B9BBBE;
  font-size: 20px;
  letter-spacing: -0.35px;
  line-height: 25px;
}

textarea.issue-input {
  height: 219px;
}

.submit-button {
  min-height: 39px;
  width: 140px;
  border-radius: 8px;
  background-color: #EFA42F;
  margin-top: 20px;
  float: right;
  border-style: none;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 20px;
  display: block;
}

.add-button {
  min-height: 39px;
  width: 140px;
  border-radius: 8px;
  background-color: #EFA42F;
  margin-top: 30px;
  margin-bottom: 30px;
  border-style: none;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 20px;
  display: block;
}

.horizontal-line {
  width: 100%;
  border: 1px solid #294261;
  margin-top: 15px;
  margin-bottom: 15px;
}

.error {
  color: #C4183C;
  margin-top: 4px;
  margin-bottom: 3px;
  font-size: 18px;
}

.note {
  font-size: 12px;
  color: lightgray;
}

button.btn[disabled] {
  cursor: not-allowed;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid #C4183C;
  box-shadow: 0 5px 11px 0 rgba(196,24,60,0.1);
}

@media only screen and (device-width: 1024px) {
  .title {
    font-size: 72px;
  }

  .form {
    min-height: 1000px;
    padding-bottom: 200px;
  }

  .input-label {
    font-size: 40px;
    margin-top: 3.88%;
    margin-bottom: 2rem;
  }

  input, select {
    height: 100px;
    font-size: 35px;
  }

  textarea.issue-input {
    height: 335px;
    font-size: 35px;
  }

  ::placeholder {
    font-size: 35px;
  }

  .submit-button {
    min-height: 70px;
    width: 220px;
    margin-top: 25px;
    font-size: 32px;
  }

  .select-arrow:after {
    font-size: 72px;
    top: 0px;
    right: 40px;
  }
}
